In [1]:
import polars as pl
import pandas as pd

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
#scanning in our parquet from s3
source = "s3://alexaevafernando/ready.parquet"
df = pd.read_parquet(source)

In [3]:
print(df.head())

                         timestamp      X      Y pixel_color  user  \
0 2023-07-22 15:56:57.877000+00:00   69.0 -294.0     #FF4500     0
1 2023-07-20 14:42:00.196000+00:00 -481.0 -133.0     #3690EA     1
2 2023-07-20 14:51:11.887000+00:00 -472.0 -290.0     #3690EA     1
3 2023-07-20 14:56:28.979000+00:00 -494.0 -356.0     #3690EA     1
4 2023-07-20 15:01:31.998000+00:00 -500.0  -59.0     #3690EA     1

               time_diff  time_diff_min
0                    NaT            NaN
1                    NaT            NaN
2 0 days 00:09:11.691000       9.183333
3 0 days 00:05:17.092000       5.283333
4 0 days 00:05:03.019000       5.050000

In [4]:
#filtering out admins
tops = df.groupby('user').size().reset_index(name='count')

tops = tops.sort_values(by='count', ascending=False)
admin = tops.head()
admins = admin['user'].unique()
nonadmins = df[~df['user'].isin(admins)]

In [5]:
# identifying bots

nonadmins = nonadmins.sort_values(by=['user','timestamp'])

def detect_session_changes(df):
    session_starts = ((df['time_diff_min'] >21) | (df['user'] != df['user'].shift(1))).astype(int)
    df['session_id'] = session_starts.cumsum()
    return df

nonadmins = detect_session_changes(nonadmins)

In [6]:
nonadmins.head()

,timestamp,X,Y,pixel_color,user,time_diff,time_diff_min,session_id
0,2023-07-22 15:56:57.877000+00:00,69.0,-294.0,#FF4500,0,NaT,NaN,1
1,2023-07-20 14:42:00.196000+00:00,-481.0,-133.0,#3690EA,1,NaT,NaN,2
2,2023-07-20 14:51:11.887000+00:00,-472.0,-290.0,#3690EA,1,0 days 00:09:11.691000,9.183333,2
3,2023-07-20 14:56:28.979000+00:00,-494.0,-356.0,#3690EA,1,0 days 00:05:17.092000,5.283333,2
4,2023-07-20 15:01:31.998000+00:00,-500.0,-59.0,#3690EA,1,0 days 00:05:03.019000,5.050000,2

In [7]:
#finding the pixel counts of each session
session_counts = nonadmins.groupby('session_id').size().sort_values(ascending=False).reset_index(name='count')

In [8]:
#merging counts back into dataframe
nonadmins = nonadmins.merge(session_counts, how = 'left', on='session_id')

In [17]:
nonadmins.head(20)

,timestamp,X,Y,pixel_color,user,time_diff,time_diff_min,session_id,count
0,2023-07-22 15:56:57.877000+00:00,69.0,-294.0,#FF4500,0,NaT,NaN,1,1
1,2023-07-20 14:42:00.196000+00:00,-481.0,-133.0,#3690EA,1,NaT,NaN,2,10
2,2023-07-20 14:51:11.887000+00:00,-472.0,-290.0,#3690EA,1,0 days 00:09:11.691000,9.183333,2,10
3,2023-07-20 14:56:28.979000+00:00,-494.0,-356.0,#3690EA,1,0 days 00:05:17.092000,5.283333,2,10
4,2023-07-20 15:01:31.998000+00:00,-500.0,-59.0,#3690EA,1,0 days 00:05:03.019000,5.050000,2,10
5,2023-07-20 15:06:44.267000+00:00,-484.0,-369.0,#3690EA,1,0 days 00:05:12.269000,5.200000,2,10
6,2023-07-20 15:12:04.802000+00:00,-471.0,-365.0,#3690EA,1,0 days 00:05:20.535000,5.333333,2,10
7,2023-07-20 15:17:15.082000+00:00,-405.0,-72.0,#FF4500,1,0 days 00:05:10.280000,5.166667,2,10
8,2023-07-20 15:22:29.066000+00:00,-425.0,-56.0,#FFFFFF,1,0 days 00:05:13.984000,5.216667,2,10
9,2023-07-20 15:27:44.762000+00:00,-414.0,-56.0,#FF4500,1,0 days 00:05:15.696000,5.250000,2,10
10,2023-07-20 15:33:34.864000+00:00,-414.0,-60.0,#FF4500,1,0 days 00:05:50.102000,5.833333,2,10
11,2023-07-20 21:13:53.783000+00:00,-384.0,-60.0,#FF4500,1,0 days 05:40:18.919000,340.300000,3,3
12,2023-07-20 21:18:58.257000+00:00,-367.0,-76.0,#3690EA,1,0 days 00:05:04.474000,5.066667,3,3
13,2023-07-20 21:24:09.482000+00:00,-367.0,-60.0,#3690EA,1,0 days 00:05:11.225000,5.183333,3,3
14,2023-07-20 15:34:19.583000+00:00,-119.0,97.0,#000000,2,NaT,NaN,4,2
15,2023-07-20 15:39:31.758000+00:00,-420.0,-76.0,#000000,2,0 days 00:05:12.175000,5.200000,4,2
16,2023-07-21 16:44:11.659000+00:00,-260.0,-425.0,#FFD635,2,1 days 01:04:39.901000,1504.650000,5,5
17,2023-07-21 16:49:20.197000+00:00,-147.0,-487.0,#FF4500,2,0 days 00:05:08.538000,5.133333,5,5
18,2023-07-21 16:55:07.508000+00:00,-151.0,124.0,#FF4500,2,0 days 00:05:47.311000,5.783333,5,5
19,2023-07-21 17:00:15.275000+00:00,-142.0,124.0,#FF4500,2,0 days 00:05:07.767000,5.116667,5,5

In [10]:
#filtering to just bots
botfiltercount = nonadmins['count'] >45
botsct = nonadmins[botfiltercount]

In [11]:
import s3fs

In [12]:
bucket = 'alexaevafernando'

file_name = 'botsct.csv'
s3_uri = f"s3://{bucket}/{file_name}"

fs = s3fs.S3FileSystem()

with fs.open(s3_uri, 'wb')as f:
    botsct.to_csv(f)